.glyphicon {
    font-size: 15px;
    padding-right: 10px;
    color: #A00000;
}
.row a {
    color: #000000;
}
.row .col-md-8 span{
    font-size: 40px;
    color: #4fbc31;
}

.row {
    margin: 10px 10px 10px 10px;
}
.appref {
    font-size: 18px;
}