<% layout('../layout/page') -%>
<% block('title', "Регистрация") -%>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal reg-form" name="reg-form">
            <div class="form-group">
                <label for="input-username" class="col-lg-2 control-label">Логин</label>

                <div class="col-lg-10">
                    <input name="username" type="text" class="form-control" id="input-username" placeholder="Логин">
                </div>
            </div>
            <div class="form-group">
                <label for="input-email" class="col-lg-2 control-label">Email</label>

                <div class="col-lg-10">
                    <input name="email" type="email" class="form-control" id="input-email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="input-password" class="col-lg-2 control-label">Пароль</label>

                <div class="col-lg-10">
                    <input name="password" type="password" class="form-control" id="input-password"placeholder="Пароль">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Зарегистрироваться</button>
                    <span class="help-block error"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Ещё чучуть</h2>
        <p>Ещё немного и ты сможешь полноценно пользоваться сервисом</p>
        <p>Я уже вижу улыбку на твоём лице</p>
    </div>
</div>
<script>
    $(document.forms['reg-form']).on('submit', function () {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");

        $.ajax({
            url: "/dashboard/registration",
            method: "POST",
            data: form.serialize(),
            complete: function () {
                $(":submit", form).button("reset");
            },
            statusCode: {
                200: function () {
                    form.html("Вы Зарегистрировались").addClass('alert-success');
                    window.location.href = "/dashboard";
                },
                403: function (jqXHR) {
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error', form).html(error.message);
                }
            }
        });
        return false;
    });
</script>